<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head") %>
<body>
    <h1><%=Pokemon.name%></h1>
    <img src=<%=Pokemon.img%> >
    <h3> <%=Pokemon.type%> </h3>
    <h4> Attack: <%=Pokemon.stats.attack%> </h4>
    <h4> Defense: <%=Pokemon.stats.defense%> </h4>
    <h4> Speed: <%=Pokemon.stats.speed%> </h4>
</ul>
</body>
</html>